<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<meta name="author" content="Igor P., Gustavo L. e Ana C.">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=width-device, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>Doces</title>
    <link href="css.css">
</head>
<body>
<h1>Veja nossos doces</h1>
<img src="/static/images/doces.jpg" alt="Brigadeiros" width="275" height="183">
<p>Nossos brigadeiros
    R$23,30</p>
<img src="/static/images/docinho.jpg" alt="Doce" width="275" height="183">
<p>Nossos deliciosos doces
    R$15,00</p>

</body>
</html>