<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<meta name="author" content="Igor P., Gustavo L. e Ana C.">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=width-device, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>Confeitaria LTDA.</title>
    <link href="css.css">
</head>
<body>
<h1> Bem-vindo a Confeitaria LTDA.</h1>
<h4>Por Gustavo Leal, Igor Pacios e Ana Caroline</h4>
<h2>Objetivo do projeto</h2>
<p> O objetivo é simular de forma simples e pouco elaborada um website de confeitaria para exercitar oque foi aprendido nas aulas</p>
<h2>Descrição do Projeto</h2>
<p>Como funciona:</p>
<p>Navegue entre as abas através da url, utilizando "/salgado" e "/doce" para ver as outras rotas</p>

</body>
</html>