<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<meta name="author" content="Igor P., Gustavo L. e Ana C.">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=width-device, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>Salgados</title>
    <link href="css.css">
</head>
<body>
<h1> Veja nossos salgados</h1>
<img src="/static/images/cento.jpg" alt="cento de salgados">
<p>Nosso cento de salgados, por apenas R$60,00</p>
<p>
</p>
<img src="/static/images/salgados.jpg" alt="outros salgados">
<p>Salgados variados por apenas R$35,50</p>

</body>
</html>